.card {
    box-shadow: 10px 5px 5px rgb(142, 237, 179);
    background-color: rgb(238, 238, 238);
    color: black;
    margin: 15px;
  }
  
  .row{
    max-width: 95%;
  }
  
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    margin-left: 25%;
    width: 50%;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }

  .rowTotal{
    max-width: 95%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(142, 237, 179), rgb(22, 133, 65));
    border-radius: 25px;
  }