<h2 class="mt-2" style="color: black; margin-left: 15px;">Cadastro de Produto</h2>

<hr />

<div class="Container" style="margin-bottom: 30px;">
    <form #fornecedorForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row" style="margin-left: 15px;">
        <div class="col-md-12">

          <div class="form-group" style="margin-bottom: 5px;" *ngIf="!produto.id">
            <label style="color: black;">Codigo:</label>
            <input type="text" class="form-control" [(ngModel)]="produto.codigo" name="codigo">
          </div>
  
          <div class="form-group" style="margin-bottom: 5px;">
            <label style="color: black;">Nome:</label>
            <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome">
          </div>
  
          <div class="form-group" style="margin-bottom: 5px;">
            <label style="color: black;">Preço:</label>
            <input class="form-control" type="number" [(ngModel)]="produto.preco" name="preco">
            <h5 style="color: black">* Colocar preço por kg</h5>
          </div>

          <div class="form-group" style="margin-bottom: 5px;" *ngIf="!produto.id">
            <label style="color: black;">Quantidade no estoque:</label>
            <input type="number" class="form-control" [(ngModel)]="produto.quantidade" name="quantidade">
          </div>
  
          <mat-form-field class="form-group" appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Descrição do produto</mat-label>
            <textarea matInput placeholder="Descreva o produto" style="color: black;" [(ngModel)]="produto.descricao"
              name="descricao"></textarea>
          </mat-form-field>
  
        </div>
      </div>
      <div class="row" style="margin-top: 15px; margin-left: 15px;">
        <div class="col">
          <button type="submit" class="btn btn-success" *ngIf="!produto.id">
            <i class="fa fa-save"></i> Salvar
          </button>
  
          <button type="submit" class="btn btn-success" 
          style="background-color: yellow; color: black; margin-left: 10px;" 
          *ngIf="produto.id">
            <i class="fa fa-save"></i> Atualizar
          </button>
  
        </div>
      </div>
  
    </form>
  </div>

  <section class="example-section">
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>

  <hr />

  <h3 style="color: black; margin-top: 30px; margin-left: 15px;">Itens cadastrados</h3>

  <div class="form-group col-md-12 col-lg-12" *ngFor="let card of card">
    <mat-card class="card" style="margin-bottom: 20px;">
      <mat-card-title-group>
        <mat-card-title>{{card.nome}}</mat-card-title>
        <mat-card-subtitle style="color: black;">
          Valor : R${{card.preco}}
        </mat-card-subtitle>
        <mat-card-subtitle style="color: black;">
          Quantidade : {{card.quantidade}}
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        Descrição : {{card.descricao}}
      </mat-card-content>
      <mat-card-actions style="align-items: flex-end;">
        <button mat-button class="btn btn-outline-warning" (click)="editarCadastro(card)">
          <i class="fa fa-refresh"></i> Editar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>