<mat-drawer-container class="container-drawer" autosize [hasBackdrop]="true">
    <mat-drawer #drawer class="drawer-sidenav" mode="over">

      <div class="btn">
        <button routerLink="/master/painel" mat-raised-button matTooltip="Cadastro de produto" matTooltipClass="tooltip-sidebar"
          class="btn" (click)="drawer.close()" style="font-size: 20px; background-color: rgb(142, 237, 179); border: 0px;">
          <i class="fa fa-tachometer"></i> Painel de Controle
        </button>
      </div>

      <div class="title">
        <h2 style="color: black;">Cadastro</h2>
      </div>
  
      <div class="div-sidenav">
        <button routerLink="/master/produto" mat-raised-button matTooltip="Cadastro de produto" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-floppy-o"></i> Cadastro
        </button>
      </div>

      <div class="title">
        <h2 style="color: black;">Gerenciamento</h2>
      </div>

      <div class="div-sidenav">
        <button routerLink="/master/controle-estoque" mat-raised-button matTooltip="Controle no Estoque" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-th"></i> Controle 
        </button>
      </div>
  
      <div class="div-sidenav">
        <button routerLink="/entrada" mat-raised-button matTooltip="Entrada no Estoque" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-plus-square-o"></i> Entrada 
        </button>
      </div>

      <div class="div-sidenav">
        <button routerLink="/master/saida" mat-raised-button matTooltip="Saída do Estoque" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-usd"></i> Venda 
        </button>
      </div>

      <div class="title">
        <h2 style="color: black;">Relatório</h2>
      </div>

      <div class="div-sidenav">
        <button routerLink="/master/relatorio-entrada" mat-raised-button matTooltip="Relatório" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-file-pdf-o"></i> Entrada 
        </button>
      </div>

      <div class="div-sidenav">
        <button routerLink="/master/relatorio-saida" mat-raised-button matTooltip="Relatório" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-file-pdf-o"></i> Saída
        </button>
      </div>

      <div class="title">
        <h2 style="color: black;">Gráficos</h2>
      </div>

      <div class="div-sidenav">
        <button routerLink="/master/grafico" mat-raised-button matTooltip="Gráfico" matTooltipClass="tooltip-sidebar"
          class="button-sidenav" (click)="drawer.close()">
          <i class="fa fa-bar-chart"></i> Semanal 
        </button>
      </div>
  
    </mat-drawer>
  
    <mat-toolbar>
      <button mat-icon-button class="icon-tollbar" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <img mat-card-image src="/assets/Logo_desenho.jpg" class="img_logo"> -->
    </mat-toolbar>

    <router-outlet></router-outlet>