<div class="container">
  <br><br><br><br><br>
  <div class="card card-container">
      <h1 class='login_title text-center'>Portal de controle</h1>
      <hr>

      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <p class="input_title">Usuário</p>
          <input type="text" class="form-control" placeholder="Nome" required
              autofocus name="username">
          <p class="input_title">Senha</p>
          <input type="password" class="form-control" placeholder="******"
              required name="senha">

              <br>
          <button class="btn btn-lg" type="submit">Entrar</button>

      </form>
  </div>
</div>