/* mat-grid-tile {
    background: lightblue;
  } */

  .button {
    box-shadow: 10px 5px 5px rgb(142, 237, 179);
    background-color: rgba(159, 224, 184, 0.387);
    color: black;
    font-size: 23px;
  }

  table {
    width: 100%;
    background-color: rgba(159, 224, 184, 0.387);
    color: black;
  }

  tr:nth-child(even) {
    background-color: rgba(159, 224, 184, 0.965);
  }

  .uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FE6701;
}

mat-spinner {
    zoom: 0.5
}

.card{
  background-color: rgb(247, 247, 247);
  box-shadow: 10px 5px 5px rgb(211, 211, 211);
}